<div style="background-color: #000; color: #fff; padding: 20px; font-family: Arial, sans-serif;">
    <h2 style="font-size: 28px; font-weight: bold;">Contacts:</h2>

    <p style="margin-top: 20px; font-size: 18px;">
        <strong>Anton Mironov:</strong><br />
        <a href="mailto:Anton.Mironov@progress.com" style="color: #3399ff;">Anton.Mironov@progress.com</a>
    </p>

    <p style="margin-top: 20px; font-size: 18px;">
        <strong>Mihaela Lukanova:</strong><br />
        <a href="mailto:Mihaela.Lukanova@progress.com" style="color: #3399ff;">Mihaela.Lukanova@progress.com</a>
    </p>

    <p style="margin-top: 20px; font-size: 18px;">
        <strong>Iva Bitsova:</strong><br />
        <a href="mailto:Iva.Bitsova@progress.com" style="color: #3399ff;">Iva.Bitsova@progress.com</a>
    </p>
</div>